aiogram==3.7.0
apscheduler==3.10.4
python-dotenv>=1.0.1
aiofiles==23.2.1
aiogram==3.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.9.5
aiosignal==1.4.0
annotated-types==0.7.0
APScheduler==3.10.4
attrs==25.3.0
certifi==2025.7.14
frozenlist==1.7.0
idna==3.10
magic-filter==1.0.12
multidict==6.6.3
propcache==0.3.2
pydantic==2.7.4
pydantic_core==2.18.4
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
yarl==1.20.1